
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Great+Vibes&family=IM+Fell+DW+Pica+SC&family=Manrope:wght@200..800&family=Mitr:wght@200;300;400;500;600;700&family=Rammetto+One&family=Red+Rose:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-family: "Red Rose", serif;
    --dark-Color: #728156 ;
    --color: #e7f5dc;
}
body {
    overflow-x: hidden;
}
.main {
    width: 100vw;
    display: flex;
    height: 200vh;
    align-items: center;
    padding-top: 60px;
    flex-direction: column;
    font-family: var(--font-family);
    background-color: var(--dark-Color);
    color: var(--color);
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding: 40px;
    border-bottom: 2px solid #e7f5dc;
}
.button {
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid white;
    color: var(--Color);
    font-weight: bolder;
    font-size: 1.1vw;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover {
    background-color: var(--color);
    color: #728156;
    border: 2px solid black;
}
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}
.card {
    height: 50vh;
    width: 42vw;
    border: 2px solid black;
    display: flex;
    margin: 20px;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}